* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height:100%;
}

.top {
    margin: auto;
    background-color: bisque;
    padding: 16px;
    font-size: 24px;
    width: 300px;
    border-radius: 6px;
    text-align: center;  
    color: royalblue;
    letter-spacing: 3px;
}

.box {
    position: relative;
    width: 300px;
}

hr {
    margin: 6px;
}

.header {
    display: flex;
    width: 300px;
    height: 25px;
    background-color: rgba(240, 240 , 240, 0.6);
    border-radius: 6px 6px 0 0;
    padding: 0px;
    overflow: auto;
    font-weight: lighter;
    justify-content: space-between;
    padding: 0 10px;
}

.header::-webkit-scrollbar {
    display: none;
}

.output {
    width: 300px;
    height: 470px;
    background-color: rgba(240, 240 , 240, 0.6);
    padding: 10px;
    overflow: auto;
    font-weight: lighter;
    transition: 0.5s;
}

.output::-webkit-scrollbar {
    display: none;
}

.joinin {
    color: rgb(65, 165, 204);
    font-size: 13px;
    margin:0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.count {
    color: rgb(65, 165, 204);
    font-size: 13px;
    margin:0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.otheruser {
    color: white;
    font-size: 14px;
    margin: 5px 0;
}

.selfuser {
    color: white;
    font-size: 14px;
    margin: 5px 0;
    text-align: right;
    display: block;
}

.clear {
    clear: both;
}

.selfmessage {
    float: right;
    user-select: text;
    color: rgb(44, 163, 123);
    margin: 0 20px;
    font-size: 13px;
    background-color: rgba(240, 240 , 240, 0.5);
    width: auto;
    padding: 2px 5px;
    border-radius: 5px;
    word-break: break-all;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content;
}

.othermessage {
    user-select: text;
    color: palevioletred;
    margin: 0 20px;
    font-size: 13px;
    background-color: rgba(240, 240 , 240, 0.5);
    width: auto;
    padding: 2px 5px;
    border-radius: 5px;
    word-break: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content;
}

.box {
    width: 300px;
    background-color: rgba(240, 240 , 240, 0.6);
    padding: 0 5px;
    height: 37px;
    transition: 0.5s;
    display: flex;
    justify-content: space-between;
}

.input {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #666666;
    outline: none;
    border: none;
    margin: 7px 0;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 240px;
    height: 30px;
}

.btn { 
    cursor: pointer;  
    border-radius: 6px;
    font-size: 16px;
    border: none;
    background-color: bisque;
    width: 45px;
    height: 30px;
    display: inline-block;
    color: skyblue;  
    transition: 0.3s;
    margin: 7px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btnup::before{
    content : "\f062";
    font-family: fontAwesome; 
}

.btndown::before{
    content : "\f063";
    font-family: fontAwesome; 
}

.btn:hover {
    color: royalblue;
}

.menu {
    width: 300px;
    height: 7px;
    border-radius: 0 0 6px 6px;
    padding: 8px 5px 0;
    background-color: rgba(240, 240 , 240, 0.6);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    transition: 0.5s;
}

.menubtn {
    cursor: pointer;
    text-align: center;
    padding: 2px;
    margin: 1px 9px;
    width: 40px;
    height: 40px;
    background-color: bisque;
    color: skyblue;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.menubtn:hover {
    color: royalblue;
}

.pop {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);   
    padding: 30px 20px 20px;
    width: 240px;
    height: fit-content;
    border-radius: 6px;
    display: none;
}

.closebtn {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    color: skyblue; /* 将图标颜色设置为白色 */
    font-size: 20px; /* 设置图标大小 */
    transition: 0.3s;
}

.closebtn::before {
    content : "\f057";
    font-family: fontAwesome; 
}

.closebtn:hover {
    color: rgb(255, 140, 160);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 999; /* 设置为一个较高的值，确保遮罩层覆盖在其他元素之上 */
    display: none;
}

.exit {
    text-align: center;
    color: skyblue;
    font-size: 20px;
    margin: 10px 0 30px;
}

.makesure {
    margin: auto;
    width: 140px;
    display: flex;
    justify-content: space-between;
}

.makesurebtn {
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    padding: 3px;
    margin: 1px 9px;
    width: 45px;
    height: 30px;
    background-color: bisque;
    color: skyblue;
    display: inline-block;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

.makesurebtn:hover {
    color: royalblue;
}

.changeinfo {
    color: skyblue;
    font-size: 18px;
    margin: 5px 0;
}

.changeinfoinput {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.9);
    color: #666666;
    outline: none;
    border: none;
    margin: 5px 0;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 200px;
    height: 30px;
}

.changeinfoinput::placeholder {
    color: #66666699;
}

.makesurechange {
    float: right;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    padding: 5px;
    margin: 5px 0;
    width: 72px;
    height: 30px;
    background-color: bisque;
    color: skyblue;
    display: block;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.makesurechange:hover {
    color: royalblue;
}
