* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    height:100%;
}

.top {
    margin: auto;
    background-color: bisque;
    padding: 16px;
    font-size: 24px;
    width: 300px;
    border-radius: 6px;
    text-align: center;  
    color: royalblue;
    letter-spacing: 3px;
}

.box {
    position: relative;
    width: 300px;
}

hr {
    margin: 6px;
}

.header {
    display: flex;
    width: 300px;
    height: 25px;
    background-color: rgba(240, 240 , 240, 0.6);
    border-radius: 6px 6px 0 0;
    padding: 0px;
    overflow: auto;
    font-weight: lighter;
    justify-content: space-between;
    padding: 0 10px;
}

.header::-webkit-scrollbar {
    display: none;
}

.output {
    width: 300px;
    height: 475px;
    background-color: rgba(240, 240 , 240, 0.6);
    border-radius: 0 0 6px 6px;
    padding: 10px;
    overflow: auto;
    font-weight: lighter;
}

.output::-webkit-scrollbar {
    display: none;
}

.joinin {
    color: rgb(65, 165, 204);
    font-size: 13px;
    margin:0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.count {
    color: rgb(65, 165, 204);
    font-size: 13px;
    margin:0;
    text-align: center;
    height: 20px;
    margin-top: 10px;
}

.otheruser {
    color: white;
    font-size: 14px;
    margin: 5px 0;
}

.selfuser {
    color: white;
    font-size: 14px;
    margin: 5px 0;
    text-align: right;
    display: block;
}

.clear {
    clear: both;
}

.selfmessage {
    float: right;
    user-select: text;
    color: rgb(44, 163, 123);
    margin: 0 20px;
    font-size: 13px;
    background-color: rgba(240, 240 , 240, 0.5);
    width: auto;
    padding: 2px 5px;
    border-radius: 5px;
    word-break: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content;
}

.othermessage {
    user-select: text;
    color: palevioletred;
    margin: 0 20px;
    font-size: 13px;
    background-color: rgba(240, 240 , 240, 0.5);
    width: auto;
    padding: 2px 5px;
    border-radius: 5px;
    word-break: normal;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    width: fit-content;
}

.btnbox {
    display: flex;
    justify-content: space-between;
}

.default {
    border-radius: 8px;
    font-size: 16px;
    border: none;
    background-color: bisque;
    width: 120px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: skyblue;
    padding: 8px;   
    transition: 0.5s;
}

.box {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.input {
    font-size: 14px;
    background-color: whitesmoke;
    color: #666666;
    outline: none;
    border: none;
    margin: 10px 0;
    padding: 3px;
    border-radius: 6px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
    width: 220px;
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
}

.btn {   
    border-radius: 6px;
    font-size: 14px;
    border: none;
    background-color: bisque;
    width: 70px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: skyblue;
    padding: 4px;   
    transition: 0.5s;
    margin: 10px 0;
}

.btn:after {
    font-size: 18px;
    position: absolute;
    right: 10px;
    color: skyblue;
    content: '»';
    opacity: 0;
    transition: 0.5s;
}

.btn:hover {
    color: royalblue;
    padding-right: 15px;
}

.btn:hover:after {
    color: royalblue;
    opacity: 1;
    right: 14px;
}


/*用于消除edge密码框的默认小眼睛*/
input[type="password"]::-ms-reveal {
    display: none;
}
input[type="password"]::-ms-clear {
    display: none;
}
input[type="password"]::-o-clear {
    display: none;
}
